[submodule "ivy"]
	path = ivy
	url = git@github.com:lauren-yrluo/ivy.git
[submodule "pysmt"]
	path = pysmt
	url = git@github.com:aman-goel/pysmt.git
[submodule "repycudd"]
	path = repycudd
	url = git@github.com:aman-goel/repycudd.git
[submodule "swig-4.2.1"]
	path = swig-4.2.1
	url = git@github.com:lauren-yrluo/swig-4.2.1.git
