[submodule "swig-4.2.1"]
	path = swig-4.2.1
	url = git@github.com:lauren-yrluo/swig-4.2.1.git
[submodule "ivybench"]
	path = ivybench
	url = git@github.com:lauren-yrluo/ivybench.git
[submodule "ivy"]
	path = ivy
	url = git@github.com:QRM-submodules/ivy.git
[submodule "repycudd"]
	path = repycudd
	url = git@github.com:aman-goel/repycudd.git
[submodule "MARCO"]
	path = MARCO
	url = git@github.com:liffiton/MARCO.git
