[submodule "ivy"]
	path = ivy
	url = git@github.com:lauren-yrluo/ivy.git
[submodule "pysmt"]
	path = pysmt
	url = git@github.com:aman-goel/pysmt.git
[submodule "repycudd"]
	path = repycudd
	url = git@github.com:aman-goel/repycudd.git
