.vscode/
env/
__pycache__/
share/
lib/
lib64
pyvenv.cfg
.ipynb_checkpoints/
bin/
goel2021symmetry.pdf
.github/
repycudd

# Ignore files in ivybench
ivybench/sym/ivy/*finite.ivy
ivybench/sym/ivy/*0.ivy
ivybench/sym/ivy/*finite.cpp
ivybench/sym/ivy/*.pis
ivybench/sym/ivy/*finite.h
ivybench/sym/ivy/*.reach
ivybench/sym/ivy/*.qpis
ivybench/sym/ivy/test.log
out.txt
